h1 {
   text-align: center;
   font-weight: bold;
}

.employeeTable {
    width: 90%;
    margin: 50px auto;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}

.employeeTable table {
    width: 100%;
    margin-top: 30px;
}
  
.employeeTable table thead th {
    background-color: cornflowerblue;
    color: white;

}

.employeeTable table tbody td {
    padding: 10px;
    text-align: center;
}

.employeeTable table thead th {
    text-align: center;
}
  
.actionButtons button{
    margin: 5 10px;
}
