.addEmployee {
    width: 35%;
    background-color: white;
    margin: 50px auto;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    padding: 40px;
    border-radius: 5px;
  }
.error {
    color: red;
}
  .addEmployeeForm .inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .addEmployeeForm .inputGroup label {
    margin-bottom: 5px;
  }
  
  .addEmployeeForm .inputGroup input {
    margin-bottom: 5px;
    padding: 10px;
  }
  
  .addEmployee h3 {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    color: cornflowerblue;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Subtle shadow effect */
  }